.layout {
    max-width: 1440px;
    margin: auto;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.header__menu {    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 92px 49px 51px;
}

.header__links-list {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: circle;
}

.header__link {
    font-weight: 400;
    font-size: 18px;
    line-height: normal;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link_active {
    text-decoration: none;
}

.header__logo {
    display: block;
    justify-self: center;
    width: 148px;
    height: 105px;
}

.header__logo-image {
    max-height: 100%;
    object-fit: contain;
}

.header__address {
    display: flex;
    flex-direction: column;
    justify-self: end;
}

.cover{
    position: relative;
    z-index: 1;
    padding: 165px 50px 50px 50px;
    color: #fff;
    max-width: 1440px;
    max-height: 757px;
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.cover__title {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 147px;
    font-family: Raleway, sans-serif;
    font-size: 100px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 30px;
    color: #FFF;
    text-transform: uppercase;
}

.aligned-text {
    display: block;
}

.aligned-text_center {
    text-align: center;
}

.aligned-text_right {
    text-align: right;
}

.letter-spacing-extended {
    letter-spacing: 60px;
}

.no-letter-spacing {
    letter-spacing: normal;
}

.cover__description {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.cover__description-text {
    margin-right: 78px;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    word-spacing: 18px;
  }

.bet-button {
    font-family: Raleway,sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    color: #FFF;
    background-color: transparent;
    border: 1px solid #FFF;
    padding: 12px 32px;
    cursor: pointer;
}

.lots {
    padding: 180px 50px 181px 50px;
}

.lots__heading {
    margin-bottom: 27px;
    margin-left: 40px;
    color: #000;
    font-family: Raleway, sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.lots__card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    width: 100%;
    margin-bottom: 30px;
    list-style: none;
}

.lots__card-list-item {
    flex: 1 1 430px;
    min-height: 450px;
}

.buttom-extract {
    margin-left: 40px;
    font-weight: 400;
    font-size: 20px;
    line-height: normal;
    text-decoration-line: underline;
}

.card {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 50px 40px;
    color: #fff;
}

.card__title {
    color: #FFF;
    font-family: Raleway, sans-serif;
    font-size: 22px;
    font-weight: 700;
    text-decoration-line: underline;
    text-transform: uppercase;
    line-height: 1.2;
}

.card-link {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
  }

.card__lot1 {
    background-image: url(../images/card-lot-01.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 430px;
    height: 450px;
}

.card__lot2 {
    background-image: url(../images/card-lot-02.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 430px;
    height: 450px;
}

.card__lot3 {
    background-image: url(../images/card-lot-03.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 430px;
    height: 450px;
}

.card__text {
    margin-top: auto;
    color: #FFF;
    font-family: Raleway, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
}

.buttom-extract {
    padding: 30px;
}

.about {
    display: flex;
    flex-direction: row;
}

.about__logo {
    display: flex;
    min-width: 240px;
    max-height: 240px;
    margin: 0 94px;
    border-radius: 50%;
    background: #000;
}

.about__logo-image {
    width: 148px;
    height: 114px;
    margin: auto;
    object-fit: contain;
}

.about__column {
    margin: 0 95px;
}

.about__title {
    color: #000;
    font-family: Raleway;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin: 100px 0 100px 0;
}

.about__text {
    color: #000;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 25px;
}

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
    padding: 100px 50px;
  }

  .footer__address {
    display: flex;
    flex-direction: column;
}
  
  .footer__menu-list {
    text-align: center;
    list-style: none;
  }
  
  .footer__menu-link {
    font-weight: 400;
    font-size: 18px;
    line-height: normal;
  }
  
  .footer__menu-link_active {
    text-decoration: none;
  }
  
  .footer__social-link {
    display: block;
    width: 48px;
    height: 48px;
  }
  
  .footer__social-list {
    display: flex;
    justify-self: end;
    align-items: center;
    gap: 20px 48px;
    max-width: 240px;
    list-style: none;
  }